#
# Test variable definition with
#
# docker run --env-file wnt.env -it alpine sh
# > echo $MQTT_HOST
#
# You can also pass multiple files such as
#
# docker run --env-file wnt.env --env-file other.env -it alpine sh
#
# If the same ENV variable is defined multiple times, the value taken
# is the one in the last env-file (in this case other.env)
#
# KEEP IN MIND!
#   VAR=${INFLUXDB_USER_PASSWORD}
# WILL NOT BE EXPANDED!
#
# Thus if you evaluate it, you end up with:
# > echo $VAR
# > ${INFLUXDB_USER_PASSWORD}
#

# Services
CLUSTER_SIZE={{wnt_cluster_size}}
RTSITUATION_DELTA_INTERVAL_IN_MS={{ wnt_rtsituation_interval_ms }}

# MQTT
MQTT_HOST={{wnt_mqtt_host}}
MQTT_PORT={{wnt_mqtt_port}}
MQTT_MASTER_USERNAME={{wnt_mqtt_master_username}}
MQTT_MASTER_PASSWORD={{wnt_mqtt_master_password}}
MQTT_GATEWAY_USERNAME={{wnt_mqtt_gateway_username}}
MQTT_GATEWAY_PASSWORD={{wnt_mqtt_gateway_password}}
MQTT_LIBRARY_USERNAME={{ wnt_mqttlib_json_username }}
MQTT_LIBRARY_PASSWORD={{ wnt_mqttlib_json_password }}

MQTT_JSON_TOPIC={{wnt_mqtt_json_node_data_topic}}
MQTT_JSON_IS_ON={{ wnt_mqtt_json_is_on | bool | string | lower }}
MQTT_JSON_IS_OPTIMIZED_ON={{ wnt_mqtt_json_is_optimized_on | bool | string | lower  }}
MQTT_JSON_USERNAME={{wnt_mqtt_json_username}}
MQTT_JSON_PASSWORD={{wnt_mqtt_json_password}}
MQTT_JSON_FORWARD_CALCULATED_ANCHOR_LOCATIONS={{ wnt_mqtt_json_forward_calculated_anchor_locations | bool | string | lower  }}

MQTT_PERSISTENT_CLIENT_EXPIRATION={{wnt_mqtt_persistent_client_expiration}}

# Influx
INFLUXDB_DB={{wnt_influx_db}}
INFLUXDB_PORT={{wnt_influx_db_port}}
INFLUXDB_HOST={{wnt_influx_db_host}}
INFLUXDB_ADMIN_USER={{wnt_influx_admin_username}}
INFLUXDB_ADMIN_PASSWORD={{wnt_influx_admin_password}}
INFLUXDB_ADMIN_TOKEN={{ wnt_influx_admin_token }}
INFLUXDB_READ_USER={{ wnt_influx_read_user }}
INFLUXDB_READ_PASSWORD={{ wnt_influx_read_password }}
INFLUXDB_DB_RETENTIONPOLICY={{wnt_influx_db_retentionpolicy}}
INFLUXDB_STORE_REMOTE_API_RESPONSES={{ wnt_influx_remote_api_responses | bool | string | lower }}

# Postgres
POSTGRES_HOST={{wnt_postgres_host}}
POSTGRES_PORT={{wnt_postgres_port}}
POSTGRES_USER={{wnt_postgres_username}}
POSTGRES_PASSWORD={{wnt_postgres_password}}

# Authentication manager
AUTH_MANAGER_HOST={{wnt_auth_manager_host}}
AUTH_MANAGER_PUBLIC_PORT={{wnt_auth_manager_port}}
AUTH_MANAGER_INTERNAL_PORT={{wnt_auth_manager_internal_port}}

# Front end router
FEROUTER_HOST={{wnt_ferouter_host}}
FEROUTER_PUBLIC_PORT={{wnt_ferouter_port}}
FEROUTER_INTERNAL_PORT={{wnt_ferouter_internal_port}}

# Metadata manager
METADATA_MANAGER_HOST={{wnt_metadata_manager_host}}
METADATA_MANAGER_PORT={{wnt_metadata_manager_port}}

# WNT admin
WNT_ADMIN_USERNAME={{wnt_admin_username}}
WNT_ADMIN_FULLNAME={{wnt_admin_fullname}}
WNT_ADMIN_ROLE={{wnt_admin_role}}
WNT_ADMIN_PASSWORD={{wnt_admin_password}}
WNT_ADMIN_PASSWORD_HASH='{{wnt_admin_password_hash}}'

# WNT user
WNT_USER_USERNAME={{wnt_user_username}}
WNT_USER_FULLNAME={{wnt_user_fullname}}
WNT_USER_ROLE={{wnt_user_role}}
WNT_USER_PASSWORD={{wnt_operator_password}}
WNT_USER_PASSWORD_HASH='{{wnt_operator_password_hash}}'
